.art.menu[type=context], .art.menu[type=toolbar] .art.menu {
-art-fill-color: hsb(0, 0, 100);
-art-shadow-color: hsb(0, 0, 30, 0.6);
-art-shadow-blur: 15;
-art-shadow-offset-y: 3;
-art-stroke-color: hsb(0, 0, 30, 0.4);
-art-stroke-width: 1;
width: 150px;
height: auto;
z-index: 250;
padding-top: 5px;
padding-bottom: 5px; }
.art.menu[type=context] .art.option .container, .art.menu[type=toolbar] .art.menu .art.option .container {
  text-align: left; }
.art.menu[type=context] .art.option > .container, .art.menu[type=toolbar] .art.menu .art.option > .container {
  padding: 0 10px;
  line-height: 23px; }
.art.menu[type=context] .art.option.is-chosen, .art.menu[type=toolbar] .art.menu .art.option.is-chosen {
  background: #445af2;
  color: white; }

.art.menu[type=context] {
-art-corner-radius-top-left: 3;
-art-corner-radius-top-right: 3;
-art-corner-radius-bottom-left: 3;
-art-corner-radius-bottom-right: 3; }

.art.menu[type=toolbar] .art.menu {
-art-corner-radius-top-left: 0;
-art-corner-radius-top-right: 0; }

.art.section {
width: inherit;
font-family: Helvetica;
font-size: 12px; }

.art.section:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
_display: block;
zoom: 1; }

.art.menu[type=toolbar] {
width: inherit; }

.art.panel .art.menu[type=toolbar] {
height: 20px;
line-height: 30;
vertical-align: middle;
border-top: 1px solid #d4d4d4;
-art-fill-color: hsb(0, 0, 92);
-art-reflection-color: "[hsb(0, 0, 100, 0.5), hsb(0, 0, 100, 0)]"; }
.art.panel .art.menu[type=toolbar] .art.button {
  height: 20px;
  width: 24px;
  vertical-align: middle;
  -art-corner-radius: 0;
  margin-left: 0px;
  margin-right: 0px;
  border-right: 1px solid #d4d4d4;
  -art-shadow-blur: 0;
  -art-shadow-offset-y: 0;
  -art-stroke-width: 0;
  -art-glyph-top: 4;
  -art-glyph-left: 6;
  -art-glyph-color: hsb(0, 0, 0, 0.7); }
html > body .art.panel .art.menu[type=toolbar] .art.button.id-add {
    -art-glyph: ART.Glyphs.smallPlus; }
html > body .art.panel .art.menu[type=toolbar] .art.button.id-remove {
    -art-glyph: ART.Glyphs.smallMinus; }
html > body .art.panel .art.menu[type=toolbar] .art.button.id-configure {
    -art-glyph: ART.Glyphs.wrench; }

html > body .art.header.id-top {
text-shadow: 0 1px 0 #e5e5ee;
-art-filter: dropshadow(color=#e5e5ee, offX=0, offY=1px);
height: 22px;
width: inherit;
font-family: Helvetica;
font-size: 14px;
-art-reflection-color: "[hsb(0, 0, 90), hsb(0, 0, 70)]";
border-bottom: 1px solid #333333;
z-index: 150; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  -art-*display: inline; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button.is-text {
    padding: 0 10px;
    width: auto; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button.important > .container {
    font-weight: bold; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button.id-shutdown {
    -art-glyph-scale: 0.5;
    -art-glyph: ART.Glyphs.shutdown;
    margin-left: 10px; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button .art.menu {
    z-index: 100;
    margin-top: -1px;
    -art-min-width: 150px;
    -art-shadow-blur: 10;
    -art-shadow-offset-y: 5; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button .art.menu .art.option {
      width: auto;
      height: 20px; }
html > body .art.header.id-top .art.menu[type=toolbar].id-notification .art.button, html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button.id-shutdown {
  width: 24px; }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button {
  height: 22px;
  -art-glyph-color: hsb(0, 0, 20);
  -art-glyph-left: 4px;
  -art-glyph-top: 3px;
  -art-glyph-scale: 1.2;
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  -art-*display: inline;
  vertical-align: top;
  line-height: 24px; }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button.is-active, html > body .art.header.id-top .art.menu[type=toolbar] .art.button.is-selected, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.is-active, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.is-selected {
  -art-background-color: "[hsb(232, 55, 96), hsb(234, 74, 94)]";
  -art-glyph-color: hsb(0, 0, 100); }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button.is-active > .container, html > body .art.header.id-top .art.menu[type=toolbar] .art.button.is-selected > .container, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.is-active > .container, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.is-selected > .container {
    text-shadow: 0 -1px 0 #374683;
    -art-filter: dropshadow(color=#374683, offX=0, offY=-1px);
    color: white; }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button.id-preferences, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.id-preferences {
  -art-glyph: ART.Glyphs.wrench; }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button.id-search, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.id-search {
  -art-glyph: ART.Glyphs.search; }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button.id-time, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.id-time {
  width: 50px;
  text-align: center; }

svg {
display: block; }
svg ~ .container, svg ~ * {
  position: relative; }

v\:* {
background: transparent; }

.art.* {
-art-shadow-blur: 0; }

body, html {
padding: 0;
margin: 0; }

.art:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
_display: block;
zoom: 1; }
.art.select > .container {
text-align: left;
padding: 0 10px; }
.art.select .container {
line-height: 22px; }
.art.window svg ~ *, .art.window svg .container {
position: relative; }
