.art.window {
display: inline-block;
vertical-align: top;
width: auto;
height: auto;
-art-shadow-blur: 20;
-art-shadow-offset-y: 5;
-art-shadow-color: hsb(0, 0, 0, 0.5);
line-height: 16px; }
html > body .art.window .art.id-footer, html > body .art.window .art.id-header {
  width: auto;
  display: block; }
html > body .art.window .art.id-content {
  width: 300px;
  -art-min-height: 50; }
html > body .art.window .art.id-header {
  cursor: default; }
html > body .art.window .art.id-header .art.input.id-search {
    float: right; }
html > body .art.window .art.id-header .art.id-title {
    z-index: 4;
    text-align: center;
    font-size: 13px;
    color: #555555; }
html > body .art.window .art.id-header .art.id-title .container {
      text-shadow: 0 1px 0 #e5e5ee;
      -art-filter: dropshadow(color=#e5e5ee, offX=0, offY=1px); }
html > body .art.window .art.id-header .art.id-buttons {
    float: left;
    height: 16px;
    position: relative;
    z-index: 5; }
html > body .art.window .art.id-header .art.id-buttons .art.button {
      -art-glyph-left: 0.5;
      -art-glyph-top: 0;
      -art-glyph-color: hsb(0, 0, 0, 0);
      width: 13px;
      height: 13px;
      -art-corner-radius: 6;
      -art-reflection-color: "['radial', {0.4: hsb(0, 0, 100, 0.6), 0.9: hsb(0, 0, 100, 0)}, {cy: '10%', r: '17%', fy: '50%'}]";
      -art-background-color: "['radial', {0: hsb(0, 0, 100, 0.7), 0.35: hsb(0, 0, 100, 0.6), 1: hsb(0,0,100,0.2)}, {cy: '90%', r: '60%', fy: '80%'}]";
      -art-fill-color: "['radial', {0: hsb(100, 0, 76), 0.8: hsb(95, 0, 73), 1: hsb(103, 0, 43, 0.7)}, {cy: '55%', r: '44%', fy: '55%'}]";
      -art-stroke-color: "[hsb(55, 0, 40), hsb(45, 0, 75)]"; }
html > body .art.window .art.id-header .art.id-toggler {
    float: right;
    margin-left: -20;
    margin-right: 0px;
    height: 8px;
    width: 18px;
    -art-corner-radius: 4;
    -art-reflection-color: "[hsb(0, 0, 100, 0.5), hsb(0, 0, 40, 0.5), hsb(0, 0, 100, 0.5)]";
    -art-background-color: "[hsb(0, 0, 90, 0.3), hsb(0, 0, 100, 0.9)]";
    z-index: 5; }
html > body .art.window .art.id-header .art.id-toggler.is-active {
      -art-fill-color: "[hsb(210, 61, 90), hsb(202, 95, 100)]"; }
html > body .art.window .art.id-header .art.id-buttons .art.button, html > body .art.window .art.id-header .art.id-toggler, html > body .art.window .art.id-toolbar .art.button, .art.window .art.input, html > body .art.window .art.id-legend .art.select {
  -art-shadow-blur: 0;
  -art-shadow-offset-y: 1;
  -art-shadow-color: hsb(0, 0, 77); }
html > body .art.window .art.id-header .art.id-buttons .art.button, html > body .art.window .art.id-header .art.id-toggler {
  -art-shadow-color: hsb(0, 0, 85); }
.art.window .art.button {
  height: 20px;
  cursor: pointer;
  -art-fill-color: "[hsb(0, 0, 75), hsb(0, 0, 100, 0.3)]";
  -art-background-color: "[hsb(0, 0, 95), hsb(0, 0, 0, 0)]";
  -art-shadow-color: hsb(0, 0, 100, 0.4);
  -art-stroke-color: hsb(0, 0, 45);
  -art-glyph-color: hsb(0, 0, 30);
  float: left;
  margin-right: 5px; }
html > body .art.window .art.id-close {
  -art-glyph: ART.Glyphs.smallCross; }
html > body .art.window .art.id-minimize {
  -art-glyph: ART.Glyphs.smallMinus; }
html > body .art.window .art.id-maximize {
  -art-glyph: ART.Glyphs.smallPlus; }
html > body .art.window .art.id-bookmark {
  -art-glyph: ART.Glyphs.smallPlus; }
html > body .art.window .art.id-handle {
  z-index: 10;
  -art-glyph: ART.Glyphs.resize;
  -art-glyph-color: hsb(0, 0, 50, 0.5);
  -art-glyph-top: 2;
  -art-glyph-left: 0;
  width: 13px;
  height: 15px;
  -art-shadow-color: hsb(0, 0, 0, 0.4);
  -art-touchable: true;
  float: right;
  cursor: se-resize; }
html > body .art.window .art.id-handle.is-active {
    -art-glyph-color: hsb(0, 0, 100, 0.7);
    -art-shadow-color: hsb(0, 0, 0, 0.6); }

.art.window.fancy {
-art-corner-radius-bottom-left: 5;
-art-corner-radius-bottom-right: 5;
-art-corner-radius-top-left: 5;
-art-corner-radius-top-right: 5;
-art-stroke-width: 1;
-art-stroke-cap: square;
-art-stroke-color: hsb(0, 0, 70, 0.5);
-art-shadow-offset-y: 2;
z-index: 10; }
.art.window.fancy.is-focused {
  -art-stroke-color: hsb(0, 0, 50, 0.5); }
html > body .art.window.fancy .art.id-header .art.id-buttons.is-hover .art.button {
  -art-glyph-color: hsb(0, 0, 20, 0.7); }
html > body .art.window.fancy.is-focused .art.id-header .art.id-buttons .art.id-close {
  -art-fill-color: "['radial', {0: hsb(0, 95, 80), 0.9: hsb(0, 97, 73), 1: hsb(359, 65, 22)}, {cy: '55%', r: '42%', fy: '55%'}]";
  -art-stroke-color: "[hsb(359, 71, 60), hsb(359, 24, 75)]"; }
html > body .art.window.fancy.is-focused .art.id-header .art.id-buttons .art.id-close.is-active {
    -art-fill-color: "['radial', {0: hsb(0, 95, 70), 0.8: hsb(0, 97, 63), 1: hsb(359, 65, 32)}, {cy: '55%', r: '42%', fy: '55%'}]"; }
html > body .art.window.fancy.is-focused .art.id-header .art.id-buttons .art.id-minimize {
  -art-fill-color: "['radial', {0: hsb(58, 95, 80), 0.8: hsb(28, 66, 85), 1: hsb(2, 64, 58)}, {cy: '55%', r: '44%', fy: '55%'}]";
  -art-stroke-color: "[hsb(55, 71, 40), hsb(45, 24, 75)]"; }
html > body .art.window.fancy.is-focused .art.id-header .art.id-buttons .art.id-minimize.is-active {
    -art-fill-color: "['radial', {0: hsb(58, 95, 70), 0.8: hsb(28, 66, 75), 1: hsb(2, 64, 48)}, {cy: '55%', r: '44%', fy: '55%'}]"; }
html > body .art.window.fancy.is-focused .art.id-header .art.id-buttons .art.id-maximize {
  -art-fill-color: "['radial', {0: hsb(100, 76, 76), 0.8: hsb(95, 46, 73), 1: hsb(103, 53, 43)}, {cy: '55%', r: '44%', fy: '55%'}]";
  -art-stroke-color: "[hsb(55, 71, 40), hsb(45, 24, 75)]"; }
html > body .art.window.fancy.is-focused .art.id-header .art.id-buttons .art.id-maximize.is-active {
    -art-fill-color: "['radial', {0: hsb(100, 76, 66), 0.8: hsb(95, 46, 63), 1: hsb(103, 53, 33)}, {cy: '55%', r: '44%', fy: '55%'}]"; }
html > body .art.window.fancy .art.id-content {
  -art-background-color: "[hsb(0, 0, 93), hsb(0, 0, 93)]"; }
html > body .art.window.fancy .art.panel.id-right {
  -art-inner-shadow-color: hsb(0, 0, 0, 0.15); }
.art.window.fancy.is-focused {
  -art-shadow-offset-y: 5;
  -art-shadow-blur: 25;
  z-index: 20;
  -art-stroke-color: hsb(0, 0, 10, 0.5); }
html > body .art.window.fancy.is-focused .art.id-header, html > body .art.window.fancy.is-focused .art.id-footer {
    -art-background-color: "[hsb(0, 0, 81), hsb(0, 0, 65)]"; }
html > body .art.window.fancy.is-focused .art.id-header {
    border-bottom-color: #515151; }
html > body .art.window.fancy.is-focused .art.id-footer {
    border-top-color: #515151; }
html > body .art.window.fancy.is-focused .art.id-content {
    -art-background-color: "[hsb(0, 0, 93), hsb(0, 0, 83)]"; }
html > body .art.window.fancy.is-focused .art.panel.id-right {
    -art-inner-shadow-color: hsb(0, 0, 0, 0.25); }
.art.window.fancy.is-focused .art.button {
    -art-stroke-color: hsb(0, 0, 33);
    -art-background-color: "[hsb(0, 0, 100), hsb(0, 0, 72)]"; }
html > body .art.window.fancy .art.id-header, html > body .art.window.fancy .art.id-footer {
  -art-background-color: "[hsb(0, 0, 95), hsb(0, 0, 85)]"; }
html > body .art.window.fancy .art.id-header {
  border-bottom-color: #999999; }
html > body .art.window.fancy .art.id-footer {
  border-top-color: #999999; }
.art.window.fancy.is-dragged {
  -art-stroke-color: hsb(0, 0, 10, 0.2);
  -art-shadow-offset-y: 12; }
html > body .art.window.fancy.is-dragged .art.id-title {
    cursor: move; }
html > body .art.window.fancy .art.id-header {
  -art-corner-radius-top-left: inherit;
  -art-corner-radius-top-right: inherit;
  padding-right: 5px;
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 3px;
  height: auto;
  border-bottom-width: 1px;
  border-bottom-style: solid; }
html > body .art.window.fancy .art.id-toolbar {
  clear: both;
  padding-top: 5px; }
html > body .art.window.fancy .art.id-content {
  height: 150px; }
html > body .art.window.fancy .art.id-footer {
  -art-corner-radius-bottom-left: inherit;
  -art-corner-radius-bottom-right: inherit;
  height: auto;
  border-top-width: 1px;
  border-top-style: solid; }
html > body .art.window.fancy.is-minified .art.id-content {
  -art-reflection-color: "[hsb(0, 0, 80, 0.5), hsb(0, 0, 70, 0.7)]";
  -art-background-color: "[hsb(0, 0, 100, 0.5), hsb(0, 0, 0, 0)]"; }
html > body .art.window.fancy.is-minified .art.id-toolbar .art.button {
  height: 20px;
  width: 20px;
  -art-glyph-top: 5;
  -art-glyph-left: 5; }
html > body .art.window.fancy.is-minified .art.id-toolbar .art.button.right {
    -art-corner-radius-top-right: 3;
    -art-corner-radius-bottom-right: 3;
    -art-corner-radius-top-left: 0;
    -art-corner-radius-bottom-left: 0;
    margin-left: -1;
    -art-glyph-left: 8;
    -art-glyph-top: 6;
    width: 25px; }
html > body .art.window.fancy.is-minified .art.id-toolbar .art.button.is-text {
    width: auto;
    display: block; }
.art.window.fancy .art.button {
  -art-stroke-color: hsb(0, 0, 60, 0.7);
  -art-background-color: "[hsb(0, 0, 96), hsb(0, 0, 82)]"; }
.art.window.fancy .art.button.is-active {
    -art-background-color: "[hsb(0, 0, 40), hsb(0, 0, 74)]"; }
.art.window.fancy .art.button.is-disabled {
    -art-glyph-color: hsb(0, 0, 50);
    color: #777777;
    cursor: default; }
.art.window.fancy .art.button.is-active {
    -art-fill-color: "[hsb(205, 25, 60), hsb(0, 0, 0, 0)]";
    -art-glyph-color: hsb(0, 0, 100); }
.art.window.fancy .art.button.is-text {
    width: auto;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: block; }
.art.window.fancy .art.button.left {
    -art-corner-radius-top-right: 0;
    -art-corner-radius-bottom-right: 0;
    -art-corner-radius-top-left: 3;
    -art-corner-radius-bottom-left: 3;
    width: 25px;
    -art-glyph-left: 8;
    -art-glyph-top: 6;
    margin-right: 0px; }
.art.window.fancy .art.button.right {
    -art-corner-radius-top-right: 3;
    -art-corner-radius-bottom-right: 3;
    -art-corner-radius-top-left: 0;
    -art-corner-radius-bottom-left: 0;
    margin-left: -1;
    -art-glyph-left: 8;
    -art-glyph-top: 6;
    width: 25px; }
html > body .art.window.fancy .art.button.id-search {
    -art-glyph: ART.Glyphs.search; }
html > body .art.window.fancy .art.button.id-bookmark {
    -art-glyph: ART.Glyphs.smallPlus; }
html > body .art.window.fancy .art.button.id-reload {
    -art-glyph: ART.Glyphs.refresh; }
html > body .art.window.fancy .art.button.id-wrench {
    -art-glyph: ART.Glyphs.wrench; }
html > body .art.window.fancy .art.button.id-back {
    -art-glyph: ART.Glyphs.triangleLeft; }
html > body .art.window.fancy .art.button.id-forward {
    -art-glyph: ART.Glyphs.triangleRight; }
.art.window.fancy .art.scrollbar {
  position: absolute;
  -art-fill-color: "[hsb(0, 0, 30, 0.4), hsb(0, 0, 50, 0.5)]";
  -art-reflection-color: "[hsb(31, 0, 100, 0.3), hsb(45, 0, 50, 0)]";
  -art-stroke-width: 0;
  -art-stroke-color: hsb(0, 0, 0, 0.3); }
.art.window.fancy .art.scrollbar .art.button {
    height: 16px;
    width: 16px;
    margin-left: 0px;
    -art-glyph-scale: 0.8;
    -art-glyph-top: 4;
    -art-glyph-left: 4;
    -art-stroke-width: 0;
    margin-right: 0; }
.art.window.fancy .art.scrollbar.is-vertical {
    top: 0;
    right: 0; }
html > body .art.window.fancy .art.scrollbar.is-vertical .art.button.id-decrement {
      bottom: 0;
      -art-glyph: ART.Glyphs.triangleDown;
      -art-corner-radius-top-right: 0;
      -art-corner-radius-bottom-right: 3;
      -art-corner-radius-top-left: 0;
      -art-corner-radius-bottom-left: 3; }
html > body .art.window.fancy .art.scrollbar.is-vertical .art.button.id-increment {
      -art-glyph: ART.Glyphs.triangleUp;
      -art-corner-radius-top-right: 3;
      -art-corner-radius-bottom-right: 0;
      -art-corner-radius-top-left: 3;
      -art-corner-radius-bottom-left: 0; }
.art.window.fancy .art.scrollbar.is-horizontal {
    bottom: 0;
    left: 0; }
html > body .art.window.fancy .art.scrollbar.is-horizontal .art.button.id-increment {
      right: 0;
      -art-corner-radius-top-right: 3;
      -art-corner-radius-bottom-right: 3;
      -art-corner-radius-top-left: 0;
      -art-corner-radius-bottom-left: 0;
      -art-glyph: ART.Glyphs.triangleRight; }
html > body .art.window.fancy .art.scrollbar.is-horizontal .art.button.id-decrement {
      -art-glyph: ART.Glyphs.triangleLeft;
      -art-corner-radius-top-left: 3;
      -art-corner-radius-bottom-left: 3;
      -art-corner-radius-top-right: 0;
      -art-corner-radius-bottom-right: 0; }

.art.window.hud {
-art-corner-radius: 15; }
html > body .art.window.hud .art.id-content {
  height: 70px;
  -art-background-color: "[hsb(0, 0, 0, 0.6), hsb(0, 0, 20, 0.5)]";
  -art-reflection-color: "[hsb(0, 0, 100, 0.6), hsb(0, 0, 10, 0)]";
  -art-corner-radius-bottom-left: inherit;
  -art-corner-radius-bottom-right: inherit; }
html > body .art.window.hud .art.id-header {
  -art-corner-radius-top-left: inherit;
  -art-corner-radius-top-right: inherit;
  height: 28px;
  -art-background-color: "[hsb(0, 0, 0, 0.55), hsb(0, 0, 0, 0.5)]";
  -art-reflection-color: "[hsb(0, 0, 0, 0), hsb(0, 0, 0, 0)]"; }
.art.window.hud .art.button {
  height: 16px;
  width: 16px;
  cursor: pointer;
  -art-background-color: "[hsb(0, 0, 0, 0.4), hsb(0, 0, 0, 0.5)]";
  -art-reflection-color: "[hsb(0, 0, 0, 0.3), hsb(0, 0, 0, 0)]";
  -art-glyph-color: hsb(82, 0, 100, 0.5);
  -art-corner-radius: 7;
  float: left;
  margin-left: 5px; }
html > body .art.window.hud .art.id-buttons .art.id-close {
  -art-stroke-color: hsb(82, 0, 100, 0.3);
  -art-glyph-top: 2;
  -art-glyph-left: 2; }
html > body .art.window.hud .art.id-header .art.id-title {
  font-size: 1em;
  color: #dddddd; }
html > body .art.window.hud .art.id-header .art.id-title .container {
    text-shadow: 0 -1px 0 #374683;
    -art-filter: dropshadow(color=#374683, offX=0, offY=-1px); }

.art.button {
padding: 0px;
-art-glyph: false;
-art-glyph-stroke: 2;
-art-glyph-color: hsb(0, 0, 0, 0.8);
-art-glyph-height: 13;
-art-glyph-width: 13;
-art-glyph-top: 1;
-art-glyph-left: 1;
-art-stroke-color: hsb(0, 0, 25, 0.7);
-art-stroke-width: 1;
-art-corner-radius-bottom-left: 3;
-art-corner-radius-bottom-right: 3;
-art-corner-radius-top-left: 3;
-art-corner-radius-top-right: 3;
-art-background-color: "[hsb(0, 0, 100), hsb(0, 0, 72)]";
line-height: 1.7em;
vertical-align: middle;
font-family: Helvetica;
font-size: 12px; }
.art.button .container {
  text-shadow: 0 1px 0 #e5e5ee;
  -art-filter: dropshadow(color=#e5e5ee, offX=0, offY=1px); }
.art.button[shape=arrow] {
  width: 30px;
  height: 40px;
  -art-arrow-width: 10;
  -art-arrow-height: 10;
  -art-arrow-side: left;
  -art-arrow-position: 9; }

html > body .art.container.id-legend {
text-align: center;
margin-top: 15px; }
html > body .art.container.id-legend .art.label, html > body .art.container.id-legend .art.input, html > body .art.container.id-legend .art.select {
  display: inline-block;
  float: none;
  vertical-align: top; }
html > body .art.container.id-legend .art.label {
  width: auto;
  float: none; }

.art.container:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
_display: block;
zoom: 1; }

.art.form {
width: auto; }
.art.form.two-column {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px; }
.art.form.two-column .art.label {
    float: left;
    clear: both;
    text-align: right;
    margin-right: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    width: 100px; }
.art.form.two-column .art.input {
    float: left;
    margin-bottom: 16px; }
.art.form.two-column .art.input[type=checkbox] {
      margin-top: 3px; }
.art.form.two-column .art.input[type=range], .art.form.two-column .art.input[type=text] {
      width: ART.Styles.calculate("width", 'parent - 150'); }
.art.form.two-column .art.select {
    float: left; }
.art.form.two-column .field {
    float: left;
    margin-bottom: 16px;
    line-height: 20px; }
.art.form.two-column .field .art.label {
      float: none;
      clear: none;
      text-align: left;
      margin-right: 0;
      margin-bottom: 0;
      width: auto;
      display: inline-block;
      vertical-align: middle;
      line-height: 16px; }
.art.form .options.field .art.input[type=checkbox], .art.form .options.field .art.input[type=radio] {
  float: none;
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  -art-*display: inline;
  vertical-align: top;
  margin-bottom: 0;
  vertical-align: middle;
  margin-right: 3px; }
.art.form .art.section {
  border-bottom: 1px solid #8a8a8a;
  height: auto;
  margin-top: 20px; }
.art.form .art.section.last {
    border-bottom: 0; }

.art.menu[type=toolbar] {
width: inherit; }

.art.panel .art.menu[type=toolbar] {
height: 20px;
line-height: 30;
vertical-align: middle;
border-top: 1px solid #d4d4d4;
-art-fill-color: hsb(0, 0, 92);
-art-reflection-color: "[hsb(0, 0, 100, 0.5), hsb(0, 0, 100, 0)]"; }
.art.panel .art.menu[type=toolbar] .art.button {
  height: 20px;
  width: 24px;
  vertical-align: middle;
  -art-corner-radius: 0;
  margin-left: 0px;
  margin-right: 0px;
  border-right: 1px solid #d4d4d4;
  -art-shadow-blur: 0;
  -art-shadow-offset-y: 0;
  -art-stroke-width: 0;
  -art-glyph-top: 4;
  -art-glyph-left: 6;
  -art-glyph-color: hsb(0, 0, 0, 0.7); }
html > body .art.panel .art.menu[type=toolbar] .art.button.id-add {
    -art-glyph: ART.Glyphs.smallPlus; }
html > body .art.panel .art.menu[type=toolbar] .art.button.id-remove {
    -art-glyph: ART.Glyphs.smallMinus; }
html > body .art.panel .art.menu[type=toolbar] .art.button.id-configure {
    -art-glyph: ART.Glyphs.wrench; }

.art.menu[type=list] {
width: auto;
height: auto;
z-index: 25;
-art-user-select: none; }
.art.menu[type=list].is-focused {
  -art-shadow-color: hsb(212, 58, 93);
  -art-shadow-blur: 10;
  -art-shadow-offset-y: 0;
  -art-stroke-color: hsb(212, 58, 93);
  -art-background-color: hsb(0, 0, 100); }
.art.menu[type=list] .art.item {
  width: auto;
  height: auto; }
.art.menu[type=list] .art.item.is-selected {
    -art-reflection-color: "[hsb(0, 0, 74, 0.3), hsb(0, 0, 58, 0.3)]";
    -art-fill-color: "[hsb(223, 19, 80), hsb(222, 28, 72)]";
    color: white; }
.art.menu[type=list].is-focused .art.item.is-selected {
  -art-fill-color: "[hsb(223, 49, 80), hsb(222, 58, 72)]"; }

.art.menu[type=context], .art.menu[type=toolbar] .art.menu {
-art-fill-color: hsb(0, 0, 100);
-art-shadow-color: hsb(0, 0, 30, 0.6);
-art-shadow-blur: 15;
-art-shadow-offset-y: 3;
-art-stroke-color: hsb(0, 0, 30, 0.4);
-art-stroke-width: 1;
width: 150px;
height: auto;
z-index: 250;
padding-top: 5px;
padding-bottom: 5px; }
.art.menu[type=context] .art.option .container, .art.menu[type=toolbar] .art.menu .art.option .container {
  text-align: left; }
.art.menu[type=context] .art.option > .container, .art.menu[type=toolbar] .art.menu .art.option > .container {
  padding: 0 10px;
  line-height: 23px; }
.art.menu[type=context] .art.option.is-chosen, .art.menu[type=toolbar] .art.menu .art.option.is-chosen {
  background: #445af2;
  color: white; }

.art.menu[type=context] {
-art-corner-radius-top-left: 3;
-art-corner-radius-top-right: 3;
-art-corner-radius-bottom-left: 3;
-art-corner-radius-bottom-right: 3; }

.art.menu[type=toolbar] .art.menu {
-art-corner-radius-top-left: 0;
-art-corner-radius-top-right: 0; }

.art.panel {
float: left;
-art-fill-color: hsb(0, 0, 100);
margin-bottom: 10px; }
html > body .art.panel.id-left {
  width: 158px;
  height: 198px;
  border: 1px solid #b8b8b8; }
html > body .art.panel.id-right {
  -art-min-width: 290px;
  width: auto;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 180px;
  -art-fill-color: hsb(0, 0, 90);
  -art-corner-radius: 5;
  -art-inner-shadow-blur: 5;
  -art-inner-shadow-offset-y: 0;
  -art-inner-shadow-offset-x: 0;
  -art-inner-shadow-color: hsb(0, 0, 0, 0.25); }

.art.scrollbar {
height: 16px;
width: 16px;
cursor: pointer;
-art-stroke-color: hsb(0, 0, 0, 0.3);
-art-stroke-width: 0;
-art-corner-radius: 2;
-art-glyph-color: hsb(82, 0, 100, 0.5); }
.art.scrollbar.is-horizontal .art.track {
  height: 14px;
  margin-left: 16px; }
.art.scrollbar.is-horizontal .art.thumb {
  margin-top: 1px; }
.art.scrollbar.is-vertical .art.track {
  width: 14px;
  margin-top: 16px; }
.art.scrollbar.is-vertical .art.thumb {
  margin-left: 1px; }
.art.scrollbar .art.track .art.thumb {
  width: 12px;
  height: 14px;
  -art-corner-radius: 5;
  -art-background-color: "[hsb(0, 0, 0, 0.2), hsb(0, 0, 0, 0.24)]";
  -art-fill-color: "[hsb(44, 0, 100, 0.15), hsb(31, 0, 50, 0)]"; }
.art.scrollbar .art.track .art.thumb.is-active {
    -art-reflection-color: "[hsb(44, 0, 100, 0.3), hsb(31, 0, 50, 0)]";
    -art-background-color: "[hsb(0, 0, 0, 0.4), hsb(0, 0, 0, 0.5)]"; }

.art.section {
width: inherit;
font-family: Helvetica;
font-size: 12px; }

.art.section:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
_display: block;
zoom: 1; }

.art.select {
-art-corner-radius: 3;
-art-stroke-color: hsb(0, 0, 50);
-art-stroke-width: 1;
-art-fill-color: "[hsb(0, 0, 90), hsb(0, 0, 95)]";
-art-reflection-color: "[hsb(0, 0, 100, 1), hsb(0, 0, 70, 0)]";
width: 170px;
height: 18px; }
.art.select.is-focused, html > body .art.id-legend .art.select.is-focused {
  -art-shadow-color: hsb(212, 58, 93);
  -art-shadow-blur: 5;
  -art-shadow-offset-y: 0;
  -art-stroke-color: hsb(212, 58, 93); }
.art.select.is-focused .art.button, html > body .art.id-legend .art.select.is-focused .art.button {
    -art-stroke-color: hsb(212, 58, 93, 0.5);
    margin-bottom: -1;
    margin-left: 1px; }
.art.select .art.button {
  width: 18px;
  height: 18px;
  margin-right: -1;
  margin-top: -1;
  float: right;
  -art-corner-radius-bottom-left: 0;
  -art-corner-radius-top-left: 0;
  -art-glyph-top: 6;
  -art-glyph-left: 6;
  -art-glyph-scale: 0.8;
  -art-glyph: ART.Glyphs.triangleDown; }

.art.input, .art.textarea {
-art-corner-radius: 1;
-art-stroke-color: hsb(0, 0, 50);
-art-stroke-width: 1;
-art-fill-color: "[hsb(0, 0, 90), hsb(0, 0, 95)]";
-art-reflection-color: "[hsb(0, 0, 100, 1), hsb(0, 0, 70, 0)]";
width: 170px;
height: 18px; }

.art.textarea {
height: 88px; }
.art.textarea textarea {
  padding-top: 2px;
  margin: 0px; }

.art.input.is-focused, .art.textarea.is-focused {
-art-shadow-color: hsb(212, 58, 93);
-art-shadow-blur: 5;
-art-shadow-offset-y: 0;
-art-stroke-color: hsb(212, 58, 93); }

.art.input input, .art.textarea textarea {
border: 0;
line-height: 15px;
font-size: 13px;
padding-top: 3px;
padding-left: 4px;
font-family: Helvetica;
background: none;
display: block;
outline: none; }

.art.input[type=checkbox] {
width: 14px;
height: 14px;
-art-glyph-color: false;
-art-corner-radius: 3; }
.art.input[type=checkbox].is-active {
  -art-fill-color: "[hsb(0, 0, 80), hsb(0, 0, 85)]";
  -art-reflection-color: "[hsb(0, 0, 90, 1), hsb(0, 0, 60, 0)]"; }
.art.input[type=checkbox].is-checked {
  -art-glyph: ART.Glyphs.checkMark;
  -art-glyph-top: 0px;
  -art-glyph-left: 1px;
  -art-glyph-scale: 1.6;
  -art-glyph-color: hsb(0, 0, 30); }

.art.combobox {
-art-corner-radius: 3;
-art-stroke-color: hsb(0, 0, 50);
-art-stroke-width: 1;
-art-fill-color: "[hsb(0, 0, 90), hsb(0, 0, 95)]";
-art-reflection-color: "[hsb(0, 0, 100, 1), hsb(0, 0, 70, 0)]";
width: 170px;
height: 20px; }
.art.combobox.is-focused {
  -art-shadow-color: hsb(212, 58, 93);
  -art-shadow-blur: 5;
  -art-shadow-offset-y: 0;
  -art-stroke-color: hsb(212, 58, 93, 0.3); }

.art.input[type=radio] {
width: 14px;
height: 14px;
-art-glyph-color: false;
-art-corner-radius: 7px; }
.art.input[type=radio].is-active {
  -art-fill-color: "[hsb(0, 0, 80), hsb(0, 0, 85)]";
  -art-reflection-color: "[hsb(0, 0, 90, 1), hsb(0, 0, 60, 0)]"; }
.art.input[type=radio].is-checked {
  -art-glyph: ART.Glyphs.radio;
  -art-glyph-top: 3px;
  -art-glyph-left: 3px;
  -art-glyph-scale: 1.6;
  -art-glyph-color: hsb(0, 0, 40); }

.art.input[type="range"] {
height: 3px;
margin-top: 10px;
margin-bottom: 6px;
width: 170px;
-art-fill-Color: hsb(0, 0, 0, 0.3);
cursor: pointer;
-art-stroke-color: hsb(0, 0, 0, 0.3);
-art-stroke-width: 1;
-art-corner-radius: 1; }
.art.input[type="range"] .art.thumb {
  height: 9px;
  width: 9px;
  margin-top: -5px;
  -art-arrow-width: 8;
  -art-arrow-height: 4;
  -art-corner-radius: 1;
  -art-arrow-side: bottom;
  -art-arrow-position: 0px;
  -art-fill-color: hsb(0, 0, 41);
  -art-fill-color: "[hsb(0, 0, 80), hsb(0, 0, 60)]";
  -art-reflection-color: "[hsb(0, 0, 100, 0.2), hsb(0, 0, 100, 0)]";
  -art-stroke-width: 1px;
  -art-stroke-color: "[{0: hsb(0, 0, 59), 0.1: hsb(0, 0, 50), 1: hsb(0, 0, 58)}]"; }

html > body .art.input.id-search {
height: 20px;
-art-corner-radius: 10;
width: 150px;
-art-fill-color: hsb(0, 0, 100, 1); }
html > body .art.input.id-search .art.glyph {
  height: 20px;
  width: 22px;
  float: left; }
html > body .art.input.id-search input {
  padding-left: 0px;
  float: left; }
html > body .art.input.id-search .art.button.id-glyph, html > body .art.input.id-search .art.button.id-canceller {
  -art-fill-color: false;
  -art-shadow-color: false;
  -art-reflection-color: false;
  -art-background-color: false;
  -art-stroke-width: 0;
  -art-shadow-blur: 0; }
html > body .art.input.id-search .art.button.id-glyph {
  -art-corner-radius: 7;
  -art-glyph: ART.Glyphs.search;
  -art-glyph-left: 2;
  -art-glyph-top: 2;
  -art-glyph-color: hsb(0, 0, 40);
  height: 20px;
  width: 20px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 0px; }
html > body .art.input.id-search .art.button.id-glyph.is-active {
    -art-background-color: false;
    -art-glyph-color: hsb(0, 0, 30); }
html > body .art.input.id-search .art.button.id-canceller {
  -art-corner-radius: 7;
  -art-glyph: ART.Glyphs.smallCross;
  -art-glyph-left: 0.5;
  -art-glyph-top: 0.5;
  -art-glyph-scale: 1.1;
  cursor: pointer;
  height: 14px;
  width: 14px;
  -art-glyph-color: hsb(0, 0, 100);
  -art-background-color: hsb(0, 0, 60);
  margin-top: 3px;
  margin-right: 4px;
  margin-left: 0px;
  display: none; }
html > body .art.input.id-search.is-detailed .art.button.id-glyph {
  -art-icon: ART.Glyphs.triangleDown;
  -art-icon-left: 14;
  -art-icon-top: 7;
  -art-icon-scale: 0.7;
  margin-right: 5px; }
html > body .art.input.id-search.is-detailed.is-uniconed {
  -art-background-position: 4px 0; }
html > body .art.input.id-search.is-detailed.is-uniconed .art.button.id-glyph {
    -art-glyph: false;
    -art-icon-left: 17; }
html > body .art.input.id-search.is-filled .art.button.id-canceller {
  display: block; }

html > body .art.window.id-browser, html > body .art.window.id-browser .art.id-footer {
-art-arrow-width: 20;
-art-arrow-height: 20;
-art-arrow-side: bottom;
-art-arrow-position: 9; }

html > body .art.window.id-browser .art.id-footer {
-art-arrow-width: 18;
-art-arrow-height: 18;
-art-arrow-position: 10; }

html > body .art.window.id-browser {
-art-stroke-color: hsb(0, 0, 70, 0.5); }
html > body .art.window.id-browser.is-focused {
  -art-stroke-width: 5px;
  margin-top: -4px;
  margin-left: -4px;
  -art-stroke-color: hsb(0, 0, 40, 0.5); }
html > body .art.window.id-browser .art.id-toolbar .art.button {
  -art-glyph-scale: 2;
  -art-glyph-top: 6;
  -art-glyph-left: 6;
  height: 36px;
  width: 36px; }
html > body .art.window.id-browser .art.id-toolbar .art.button.id-bookmark {
    -art-stroke-width: 1;
    -art-stroke-color: hsb(0, 0, 0, 0.35);
    margin-right: 0; }
html > body .art.window.id-browser .art.id-toolbar .art.button.id-back {
    -art-glyph-top: 11;
    -art-glyph-left: 10;
    -art-corner-radius: 18;
    -art-glyph-scale: 1.5;
    z-index: 10; }
html > body .art.window.id-browser .art.id-toolbar .art.button.id-back[shape=arrow] {
      -art-corner-radius: 5; }
html > body .art.window.id-browser .art.id-toolbar .art.button.id-forward {
    height: 21px;
    -art-corner-radius-top-right: 10;
    -art-corner-radius-bottom-right: 10;
    -art-corner-radius-top-left: 0;
    -art-corner-radius-bottom-left: 0;
    -art-glyph-scale: 1.2;
    -art-glyph-left: 15;
    -art-glyph-top: 5;
    width: 32px;
    margin-top: 7px;
    margin-left: -15;
    z-index: 5; }
html > body .art.window.id-browser.is-minified .art.id-toolbar .art.button {
  height: 16px;
  width: 16px;
  -art-glyph-top: 2;
  -art-glyph-left: 2;
  -art-glyph-scale: 1; }
html > body .art.window.id-browser.is-minified .art.id-toolbar .art.button.id-back {
    -art-arrow-width: 6;
    -art-arrow-height: 6; }
html > body .art.window.id-browser.is-minified .art.id-toolbar .art.button.id-back, html > body .art.window.id-browser.is-minified .art.id-toolbar .art.button.id-forward {
    -art-corner-radius: 5;
    -art-glyph-scale: 1;
    -art-glyph-top: 4;
    -art-glyph-left: 4;
    margin-right: 4px; }
html > body .art.window.id-browser.is-minified .art.id-toolbar .art.button.id-forward {
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 0px;
    height: 16px;
    width: 16px; }
html > body .art.window.id-browser.is-dragged {
  -art-stroke-dash: 10, 2, 2; }

html > body .art.window.id-network {
-art-corner-radius-bottom-left: 0;
-art-corner-radius-bottom-right: 0; }
html > body .art.window.id-network.is-minified .art.id-toolbar {
  display: none; }
html > body .art.window.id-network .art.id-right {
  width: ART.Styles.calculate("width", 'parent - left - 50'); }
html > body .art.window.id-network .art.id-content {
  height: auto;
  display: block;
  width: 520px;
  -art-min-width: 520px;
  border-top: 1px solid #ededed; }
html > body .art.window.id-network .art.id-content .art.id-actions {
    float: right;
    margin-bottom: 10px; }
html > body .art.window.id-network .art.id-content .art.id-actions .art.button {
      -art-corner-radius: 10;
      margin-left: 5px;
      margin-right: 0px;
      -art-shadow-color: hsb(0, 0, 0, 0.2);
      -art-shadow-blur: 0;
      -art-shadow-offset-y: 1; }
html > body .art.window.id-network .art.id-networks {
  height: ART.Styles.calculate("height", 'parent - hub - 1'); }
html > body .art.window.id-network .art.id-networks .art.item {
    width: auto;
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px; }
html > body .art.window.id-network .art.id-networks h2, html > body .art.window.id-network .art.id-networks p {
    font-size: 1em;
    line-height: 1em;
    padding: 0px;
    margin: 0; }

html > body .art.window.id-preferences {
-art-corner-radius-bottom-left: 0;
-art-corner-radius-bottom-right: 0; }

html > body .art.window.id-preferences .art.id-content {
width: 400px;
height: auto;
border-top: 1px solid #ededed; }

html > body .art.window.id-preferences.is-minified .art.id-toolbar {
display: none; }

html > body .art.header.id-top {
text-shadow: 0 1px 0 #e5e5ee;
-art-filter: dropshadow(color=#e5e5ee, offX=0, offY=1px);
height: 22px;
width: inherit;
font-family: Helvetica;
font-size: 14px;
-art-reflection-color: "[hsb(0, 0, 90), hsb(0, 0, 70)]";
border-bottom: 1px solid #333333;
z-index: 150; }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button {
  -art-fill-color: false;
  -art-background-color: false;
  -art-stroke-width: 0;
  -art-corner-radius: 0; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  -art-*display: inline; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button.is-text {
    padding: 0 10px;
    width: auto; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button.important > .container {
    font-weight: bold; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button.id-shutdown {
    -art-glyph-scale: 0.5;
    -art-glyph: ART.Glyphs.shutdown;
    margin-left: 10px; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button .art.menu {
    z-index: 100;
    margin-top: -1px;
    -art-min-width: 150px;
    -art-shadow-blur: 10;
    -art-shadow-offset-y: 5; }
html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button .art.menu .art.option {
      width: auto;
      height: 20px; }
html > body .art.header.id-top .art.menu[type=toolbar].id-notification .art.button, html > body .art.header.id-top .art.menu[type=toolbar].id-commands .art.button.id-shutdown {
  width: 24px; }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button {
  height: 22px;
  -art-glyph-color: hsb(0, 0, 20);
  -art-glyph-left: 4px;
  -art-glyph-top: 3px;
  -art-glyph-scale: 1.2;
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  -art-*display: inline;
  vertical-align: top;
  line-height: 24px; }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button.is-active, html > body .art.header.id-top .art.menu[type=toolbar] .art.button.is-selected, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.is-active, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.is-selected {
  -art-background-color: "[hsb(232, 55, 96), hsb(234, 74, 94)]";
  -art-glyph-color: hsb(0, 0, 100); }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button.is-active > .container, html > body .art.header.id-top .art.menu[type=toolbar] .art.button.is-selected > .container, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.is-active > .container, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.is-selected > .container {
    text-shadow: 0 -1px 0 #374683;
    -art-filter: dropshadow(color=#374683, offX=0, offY=-1px);
    color: white; }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button.id-preferences, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.id-preferences {
  -art-glyph: ART.Glyphs.wrench; }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button.id-search, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.id-search {
  -art-glyph: ART.Glyphs.search; }
html > body .art.header.id-top .art.menu[type=toolbar] .art.button.id-time, html > body .art.header.id-top .art.menu[type=toolbar] .art.option.id-time {
  width: 50px;
  text-align: center; }

svg {
display: block; }
svg ~ .container, svg ~ * {
  position: relative; }

v\:* {
background: transparent; }

.art.* {
-art-shadow-blur: 0; }

*:focus {
outline: none; }

body, html {
padding: 0;
margin: 0; }

.art:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
_display: block;
zoom: 1; }
.art.select > .container {
text-align: left;
padding: 0 10px; }
.art.select .container {
line-height: 22px; }
