!!!

%html
%head
  %title Desktop Example
  %script{:src => "../Scripts/loader.js"}
  %script{:src => "../Scripts/includes.js"}
  %link{:rel => "art stylesheet", :href => "/.Assets/Styles/Widgets.css"}
  
  :javascript
    window.addEvent('domready', function() {
  		LSD.Sheet.decompile('lsd', function() { /* decompiles stylesheets with 'lsd' in 'rel' attribute */
        $d = new LSD.Application.Desktop
  		});
  	});
%body
  
  
  
  
	<link rel="lsd stylesheet" href="./Assets/Styles/Widgets.css">
	<script>
	  window.addEvent('domready', function() {
  		
  		LSD.Sheet.decompile('lsd', function() {
  		  
  		//LSD.Sheet.compile();
  		
      
  		$z = new LSD.Application.Browser();
	    $z.inject($d);	
	    $z.setStyles({top: 50, left: 50})
			$z.header.title.setContent('Hello')
			$z.content.setContent(new Element('div', {'html': 'Orange box of truth (245x100)<br>Resize window to see some <em>scrollbar magic</em><br>Minify window by clicking top right button', 'styles': {'background': 'orange', width: 244, height: 100, minHeight: 50}}))
			$z.fit();
      
  		
  		$p = new LSD.Application.Preferences
  		$p.inject($d);	
  		$p.header.title.setContent('Preferences');
	    $p.setStyles({top: 50, left: 550});
	    
	    
	    
	    
  		$n = new LSD.Application.Preferences.Network;
  		$n.inject($d);	
  		$n.header.title.setContent('Network');
	    $n.setStyles({top: 300, left: 300});
		});
  		
	  });
	</script>
</head>
<body>
</body>
</html>