%window.fancy#browser{:shape => :arrow, :draggable => true, :resizable => true, :"resizable-content" => true, :fitting => true, :tabindex => 0, :style => "top: 50px; left: 50px"}
  header
    %button#toggler{:shy => true}
    %menu#buttons{:type => :toolbar, :hoverable => true, :shy => true, :tabindex => -1}
      %button#close
      %button#minimize
      %button#maximize 
    #title{:container => true} Browser
    %menu#toolbar{:type => :toolbar, :tabindex => -1}
      %button#back{:shape => :arrow}
      %button#forward.is-disabled
      %button#search
      %button#wrench
      %button#reload
      %button#bookmark{:shape => :star} 
  %section#content{:container => true, :scrollable => true}
  %footer.flexible{:shape => :arrow}
    #status{:container => true} Status: Bad
    %glyph#handle{:name => :"drag-handle", :at => "top right"} 