%window.fancy#network{:draggable => "true", :resizable => "true", :"resizable-content" => "true", :"resizer-modifiers-y" => "false", :tabindex => 0, :style => "top: 300px; left: 300px"}
  header
    %button#toggler{:shy => true}
    %menu#buttons{:type => :toolbar, :hoverable => true, :shy => true, :tabindex => -1}
      %button#close
      %button#minimize.is-disabled
      %button#maximize.is-disabled
    #title{:container => true} Network Preferences
    %menu#toolbar{:type => :toolbar, :tabindex => -1}
      %input#search{:type => :search}
      %button#back.left
      %button#forward.right.is-disabled
      %button#index Show All
  %section#content{:container => true}
    %glyph#handle{:name => :"drag-handle", :at => "bottom right"}
    %form.two-column#networking{:action => "/"}
      #legend
        %label{:for => :location} Location:
        %select#location
          %option{:inherit => "partial"} Home
          %option{:inherit => "partial"} Work
      %panel#left
        %menu#networks{:type => :list, :kind => :networks}
          %command{:inherit => "full", :itemspec => "network"}
            %h2{:itemprop => "title"} Wireless Network
            %p{:itemprop => "status"} Offline
          %command{:inherit => "full"}
            %h2{:itemprop => "title"} Local Area Network
            %p{:itemprop => "status"} Online
        %menu#hub{:type => :toolbar, :at => :bottom, :tabindex => -1}
          %button#remove.is-disabled
          %menu#add{:inherit => "partial"}
            %option{:inherit => "partial"} Add local network
            %option{:inherit => "partial"} Add wireless network
          %button#configure
      %panel#right
        %label{:for => :network_name} Network name:
        %input#network_name
        %label{:for => :count} Slider:
        %input#count{:type => :range}
        %label{:for => :activator} Active?
        %input#activator{:type => :checkbox}
        %label{:for => :apple_pies} Choose one:
        .field.options
          .line
            %input#apple_pies{:type => :radio, :name => :choice}
            %label{:for => :apple_pies} Apple pies
          .line
            %input#instant_coffee{:type => :radio, :name => :choice}
            %label{:for => :instant_coffee} Instant coffee
      %menu{:type => :toolbar}
        %button#assist Assist me…
        %button#revert.is-disabled Revert
        %button#revert.is-disabled Apply  