select    
  :corner-radius 3
  :stroke-color hsb(0, 0, 50)
  :stroke-width 1
  :fill-color gradient(hsb(0, 0, 90), hsb(0, 0, 95))
  :reflection-color gradient(hsb(0, 0, 100, 1), hsb(0, 0, 70, 0))
  :width 170px
  :height 18px
  
  &, #legend &
    &:focused
      :shadow-color hsb(212, 58, 93)
      :shadow-blur 5
      :shadow-offset-y 0
      :stroke-color hsb(212, 58, 93)
      button
        :stroke-color hsb(212, 58, 93, 0.5)
        :margin-bottom -1
        :margin-left 1px
        
    

  button    
    :width 17px
    :height 18px
    :margin-right -1
    :margin-top -1
    :float right
    :corner-radius-bottom-left 0
    :corner-radius-top-left 0
    :glyph-top 6
    :glyph-left 5
    :glyph-scale 0.8
    :glyph glyph("triangleDown")

  menu 
    option
      &:chosen
        +menu-context-option-highlighted
      &:selected
        :glyph glyph("checkMark")
        :glyph-top 0px
        :glyph-left 1px
        :glyph-scale 1
        :glyph-color hsb(0, 0, 0)